<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Send Mail</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/mail.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

</head>

<body>
<div class="container">
    <div class="form-container">
        <h1 class="text-center">가나안교회로 사진 전송</h1>
        <br>

        <form th:action="@{/mail/send}" method="post" enctype="multipart/form-data" id="sendForm">

            <input type="hidden" class="form-control" name="address" placeholder="">

            <div class="form-group">
                <label>성함</label>
                <input type="text" class="form-control" name="title" placeholder="성함을 입력하세요">
            </div>

            <div class="form-group">
                <label>내용</label>
                <textarea class="form-control" name="content" placeholder="보낼 내용을 입력하세요"></textarea>
            </div>

            <div class="file-input-container">
                <label class="file-input-label">
                    사진 고르기
                    <input type="file" name="files" class="file-input" accept="image/*" multiple>
                </label>
            </div>

            <div class="file-list" id="selectedFiles"></div>

            <button type="button" class="btn btn-primary pull-right" onclick="sendFilesToServer()">발송</button>

        </form>
    </div>
</div>

<!-- 모달 요소 -->
<div class="modal" id="loadingModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>전송중...</p>
            </div>
        </div>
    </div>
</div>

</body>

<script src="/js/mail.js"></script>


</html>
