<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Google Maps with Custom Styles</title>
  </head>
  <body>
    <h1>홈입니다.</h1>
    <div id="map" style="height: 400px"></div>

    <script>
      // 서버에서 Google Maps API 정보 가져오기
      async function fetchGoogleMapApiInfo() {
        const response = await fetch("/getGoogleMapApiInfo");
        const data = await response.json();
        return data;
      }

      // 구글 맵 로드 함수
      async function loadGoogleMapScript() {
        const { apiKey, mapId } = await fetchGoogleMapApiInfo();

        const script = document.createElement("script");
        script.src = `https://maps.googleapis.com/maps/api/js?key=${apiKey}&callback=initMap`;
        script.defer = true;
        script.async = true;

        // 스크립트 로드가 완료되면 initMap 함수 호출
        script.onload = () => initMap(mapId);

        document.head.appendChild(script);
      }

      // 지도 초기화 함수
      function initMap(mapId) {
        const tokyo = { lat: 35.6895, lng: 139.6917 };
        const map = new google.maps.Map(document.getElementById("map"), {
          mapId: mapId,
          center: tokyo,
          zoom: 12,
        });
      }

      // 페이지 로드 시 구글 맵 스크립트 로드
      window.onload = loadGoogleMapScript;
    </script>
  </body>
</html>
